<?xml version="1.0" encoding="UTF-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quizz.biblegame"
    android:versionName="1.0"
    android:versionCode="2">


    <application
        android:allowBackup="true"
        android:name=".quiz.one.biblegame.BibleApplication"
        android:icon="@drawable/biblelogoedit"
        android:label="@string/app_name">


    <activity
        android:name=".quiz.one.biblegame.SplashActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        >


    <intent-filter>

    <action
        android:name="android.intent.action.MAIN"
        />

    <category
        android:name="android.intent.category.LAUNCHER"
        />

</intent-filter>

</activity>

    <activity
        android:name=".quiz.one.biblegame.QuestionActivity"
        android:screenOrientation="portrait"
        />

    <activity
        android:name=".quiz.one.biblegame.RulesActivity"
        android:screenOrientation="portrait"/>

    <activity
        android:name=".quiz.one.biblegame.EndgameActivity"
        android:screenOrientation="portrait"
        />

    <activity
        android:name=".quiz.one.biblegame.SettingsActivity"
        android:screenOrientation="portrait"
        />

    <activity
        android:name=".quiz.one.biblegame.AnswersActivity"
        android:screenOrientation="portrait"
        />


    <activity android:name=".quiz.one.biblegame.AboutActivity"
        android:screenOrientation="portrait"
        />

</application>

</manifest>